/*  homepage  */



/* services block */

#block-services-2 {
	background-color: $alternate-bg-color;
	text-align: center;
	h2 {
		color: $alternate-bg-heading;
	}
	h2, h3, h4 {
		text-transform: uppercase;
	}
	h3, h4, span {
		color: $alternate-bg-heading-secondary;
	}
	li {
		display: inline-block;
		width: 30%;
	}
}

