{% extends 'block.html.twig' %}

{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

{% block content %}
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <div class="top-image">

    </div>
    <div class="name_icons">
        <div class="title-name">
            <h2>Meet The Dev</h2>
            <h3>{{ content }}</h3>
        </div>
        <div class="dev-icons">
            <div class="icon" style="font-size:3em; color:#98b4bf">
                <i class="fab fa-angular"></i>
            </div>
            <div class="icon" style="font-size:3em; color:#98b4bf">
                <i class="fab fa-drupal"></i>
            </div>
            <div class="icon" style="font-size:3em; color:#98b4bf">
                <i class="fab fa-wordpress"></i>
            </div>
        </div>
    </div>
    <p class="body_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.  Nunc convallis lectus non est condimentum, commodo mollis nulla lacinia.  Quisque id velit purus.  Phasellus sed metus malesuada, scelerisque arcu nec, vestibulum nulla. Vivamus risus justo, elementum nec purus ac, interdum imperdiet arcu. Proin saqittis luctus urna, at efficitur dui porttitor dignissim.  Quisque vitae molestie justo, consectetur efficitur metus.  Name eleifend nisi vitae elit consequat tempor.</p>

    <div class="divider-line">
        <hr class="line">
    </div>

    <div class="footer-connect">
        <div class="w3-bar">
            <a href="#" class="w3-bar-item w3-button w3-hover-none">Facebook.</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-none">Twitter.</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-none">LinkedInk.</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-none">Instagram.</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-none "><span>ReedRichards@email.com</span></a>
        </div>
    </div>

{% endblock %}
