{% extends "block.html.twig" %}
{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - $block->subject: Block title.
 * - $content: Block content.
 * - $block->module: Module that generated the block.
 * - $block->delta: An ID for the block, unique within each module.
 * - $block->region: The block region embedding the current block.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. The default values can be one or more of the
 *   following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user
 *     module is responsible for handling the default user navigation block. In
 *     that case the class would be 'block-user'.
 * - $title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - $title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * Helper variables:
 * - $classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable $classes.
 * - $block_zebra: Outputs 'odd' and 'even' dependent on each block region.
 * - $zebra: Same output as $block_zebra but independent of any block region.
 * - $block_id: Counter dependent on each block region.
 * - $id: Same output as $block_id but independent of any block region.
 * - $is_front: Flags true when presented in the front page.
 * - $logged_in: Flags true when the current user is a logged-in member.
 * - $is_admin: Flags true when the current user is an administrator.
 * - $block_html_id: A valid HTML ID and guaranteed unique.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_block()
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see bootstrap_process_block()
 * @see template_process()
 */
#}

{% block content %}
    {{ content }}
    <ul>
        <li class="service web-development">
            <img src="{{ base_path ~ directory }}/images/icon-computer.png" alt="Computer icon">
            <h4>Web Development</h4>
            <span>Ergo opifex plus sibi proponet ad formarum quam civis excellens ad factorum pulchritudinem? Honesta oratio, Socratica, Platonis etiam.</span>
        </li>
        <li class="service app-development">
            <img src="{{ base_path ~ directory }}/images/icon-mobile-device.png" alt="Mobile device icon">
            <h4>App Development</h4>
            <span> Oculorum, inquit Plato, est in nobis sensus acerrimus, quibus sapientiam non cernimus.</span>
        </li>
        <li class="service seo-assistance">
            <img src="{{ base_path ~ directory }}/images/icon-magnifier.png" alt="Magnifier icon">
            <h4>SEO Assistance</h4>
            <span>Cur igitur, inquam, res tam dissimiles eodem nomine appellas? Hanc ergo intuens debet institutum illud quasi signum absolvere.</span>
        </li>
    </ul>
{% endblock %}


