/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

//== Colors
//
$brand-primary:          #005779; // uses proj-posse $medium-color
                                  // $brand-primary also used for link color

//** Background color for `<body>`.
$body-bg:               #f4f3f1;
//** Global text color on `<body>`.
$text-color:            #3d4f57;  // proj-posse $dark-neutral-color

//== Typography
//
$font-family-sans-serif:  'Prompt', Helvetica, Arial, sans-serif;
$font-size-base:          15px;
// $font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 1.125)); // ~18px
$font-size-h3:            ceil(($font-size-base * 1.6)); // ~25px
$font-size-h4:            ceil(($font-size-base * 1)); // ~12px

