/***** Homepage *****/

/* Services Block */

#block-services {
    background-color: $alternate-bg-color;
    text-align: center;
    h2 {
        padding-top: 40px;
        color: $alternate-bg-heading;
        font-size: 1em;
    }
    h3 {
        font-size: 1.3em;
        margin-top: 20px;
        padding-bottom: 70px;
    }
    h4 {
        font-size: .90em;
        padding-bottom: 7px;
    }

    span {
        line-height: 25px;
    }
    h2, h3, h4 {
        text-transform: uppercase;
        font-family: sans-serif;
        letter-spacing: 3px;
    }
    h3, h4, span {
        color: $alternate-bg-heading-secondary;
    }
    ul {
        padding-left: 5.7em;
        padding-right: 5.7em;
        margin-bottom: 10px;
    }
    li {
        display: inline-block;
        width: 30%;
        padding: 110px 10px 70px 10px;
        margin: 0px 15px;
        &.web-development {
            background: url("../images/icon-comp.jpg") no-repeat center top;
        }
        &.app-development {
            background: url("../images/icon-phone.jpg") no-repeat center top;
        }
        &.seo-assistance {
            background: url("../images/icon-magnify.jpg") no-repeat center top;
            }
    }

    @media screen and (max-width: 993px) {
        ul {
            padding-left: 0em;
            padding-right: 0em;
        }
        li {
            padding: 110px 0px 70px 0px;
        }
    }
    @media screen and (max-width: 630px) {
        li {
            width: 37%;
        }
    }
    @media screen and (max-width: 560px) {
        h3 {
            font-size: 1.1em;
        }
        li {
            width: 60%;
        }
    }
}
