/* home page */
/* service block */

#block-services_2 {
	h2 {
		background-color: #13243;
		text-transform: uppercase;
	}
	h3 {
		color: yellow;
		font-size: 1.3em;
	}
	h4 {
		font-size: .95em;
		text-transform: uppercase;
	}
	li {
		display: inline-block;
		width: 30%;
	}
}