// ============= Variable Definitions  =============

// Color Definitions
// Colors tested and selected for WCAG AAA compliance
$light-color: #FFF;             // used text on drk bkgrnd
$medium-color: #005779;         // bkgrnd w/white text
                                // text on white bkgrnd
                                // used for bootstrap $brand-primary
$dark-color: #173244;           // bkgrnd w/white text
                                // text on neutral color bkgrnd
$neutral-color: #eae9e6;
$dark-neutral-color: #3d4f57;   // text on neutral & light colors
                                // used for bootstrap $text-color
$highlight-light: #bafffd;      // text on med & drk colors

$highlight-med: #a52c15;        // bkgrnd w/white text
                                // NOT acceptable as text on med or drk bkgrnd
$highlight-dark: #102330 ;      // bkgrnd w/white text

// Typographic
// $secondary-font-stack: 'Roboto Condensed', Arial, sans-serif;

/* ============= Global Styles  =============  */
* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

/* Color styles  */
.light-background  {
  color: $highlight-light;
}
.medium-background {
  color: $medium-color;
}
.dark-background {
  color: $dark-color;
}

/* Typographic styles
   Font sizes based on a default of 16px
   see default-variables & bootstrap variables */
h2, h3, h4 {
  font-family: $headings-font-family;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  letter-spacing: .5rem;
}
h2 {
  color: $medium-color;
}
h3 {
  color: $dark-color;
}
h4 {
  color: $medium-color;
}

/* ============= Homepage styles  =============  */

#block-services {
  background-color: $dark-color;
  color: $light-color;
  font-weight: 200;

  h2 {
    color: $highlight-light;
    margin: 60px auto 35px auto;
    font-weight: 300;
  }
  h3, h4 {
    color: $light-color;
  }
  h4 {
    margin-bottom: 25px;
  }
  .services-list {
    @include make-sm-column(10);
    @include make-sm-column-offset(1);
  }
  ul {
    display: block;
    margin: 80px auto;
    padding: 0;
  }
  li {
    width: 30%;
    display: inline-block;
    padding-top: 100px;
    text-align: center;
    &:first-child {
      margin-right: 4.3%;
    }
    &:last-child {
      margin-left: 4.3%;
    }
  }
  .web-development {
    background: url("../images/icon-computer.png") no-repeat center top;
  }
  .app-development {
    background: url("../images/icon-mobile-device.png") no-repeat center top;
  }
  .seo-assistance {
    background: url("../images/icon-magnifier.png") no-repeat center top;
  }
}

#block-meetthedevblock {
  margin-top: 120px;
  h2 {
    color: $dark-color;
  }
  h3 {
    color: $medium-color;
  }
  p {
    @include make-xs-column(12);
    @include make-sm-column(8);
    @include make-sm-column-offset(2);
    line-height: 2.3em;
    text-align: justify;
  }
  .meetdev-photos {
    img {
      width: 20%;
    }
  }
  .meetthedev-titles {
    @include make-xs-column(12);
    @include make-sm-column(4);
    @include make-sm-column-offset(2);
    h2, h3 {
      text-align: left;
    }
    h2 {
      margin-top: 50px;
      margin-bottom: 19px;
    }
    h3 {
      margin-top: 0;
      margin-bottom: 55px;
    }
  }
  .meetthedev-icons {
    @include make-xs-column(12);
    @include make-sm-column(3);
    @include make-sm-column-offset(1);
    img {
      display: inline;
      margin: 50px 10px 40px 10px;
    }
  }
  .meetthedev-social {
    @include make-xs-column(12);
    @include make-sm-column(10);
    @include make-sm-column-offset(1);
    color: $medium-color;
    font-size: .9em;
    text-transform: capitalize;
    margin-top: 35px;
    padding-top: 30px;
    border-top: 1px solid $medium-color;
    ul {
      width: 90%;
      margin-left:  auto;
      margin-right:  auto;
    }
    li {
      display: inline-block;
      margin-right: 10%;
    }
    li:first-child {
      margin-left: 15px;
    }
    li:last-child {
      margin-right: 0;
    }
    a[href*="mailto"] {
      color: $highlight-med;
    }
  }
}

#block-posse-theme-views-block-blog-posts-block-1 {
  margin-top: 120px;
}
